<h1>よみやすくす〜る</h1>
<table>
  <%= form_tag(controller:'yomiya', action:'index') do %>
    <%= text_area_tag("input", 'input...', size: "80x7") %>
    <%= submit_tag("Yomiyasuボタン") %>
  <% end %>
</table>
